body{
    height: 100%;;
    margin:0px;
    color:lightgray;
    background-color:black;
    background-image: url("../images/stars.webp");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2{
    text-align: center;
}

.insideImage{
    max-width: 100%;
    height: auto;
}

header{
    background-color: black;
}

main{
    padding-left:10px;
    padding-right:10px;
}

.mainLogo{
    height: auto;
    display: block;
    margin:auto;
    width:400px;
}

main{
    max-width:1100px;
    margin:auto;
    
}


@media screen and (max-width: 400px) {
    .mainLogo{
        width:100%;
    }
}

/* sets footer at the bottom of the page*/
html, body{
  display: flex;
  flex-flow: column;
  height: 100%;
}

header{
    flex: 0 1 auto;
}

main{
    flex: 1 1 auto;
}

footer{
    flex: 0 1 200px;
}/* sets footer at the bottom of the page*/